{% load static %}
<html lang="en">

<head>
    <!-- ========== Meta Tags ========== -->
     <meta charset="utf-8">
    <title>SUIIT Placement | Sambalpur University Institute of Information Technology - an autonomous constituent
        institute of Sambalpur University in the line of IIIT</title>
    <meta name=msapplication-TileColor content="#002147">
    <meta name=theme-color content="#002147">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Sambalpur University Institute of Information Technology - an autonomous constituent institute of Sambalpur University in the line of IIIT">
    <meta name="Author" content="Tanshit Rahman | 17BTCSE48">
    <meta property=og:title content="SUIIT Placement">
    <meta property=og:type content="website">

    <meta property=og:description
        content="Sambalpur University Institute of Information Technology - an autonomous constituent institute of Sambalpur University in the line of IIIT">

    <meta name=mobile-web-app-capable content="yes">
  

    <!-- ========== Favicon Icon ========== -->
    <link rel="shortcut icon" href="{%static 'assets/img/favicon.ico' %}" type="image/x-icon">

    <!-- ========== Start Stylesheet ========== -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/font-awesome.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/flaticon-set.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/magnific-popup.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/owl.carousel.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/owl.theme.default.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/animate.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/bootsnav.css' %}" rel="stylesheet" />
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/responsive.css' %}" rel="stylesheet" />
    <!-- ========== End Stylesheet ========== -->
  <!-- ========== Google Fonts ========== -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800" rel="stylesheet">

</head>

<body>

    <!-- Preloader Start -->
    <div class="se-pre-con"></div>
    <!-- Preloader Ends -->

    <!-- Start Header Top 
        ============================================= -->
      <div class="top-bar-area address-two-lines bg-dark text-light">
        <div class="container">
            <div class="row">
                <div class="col-md-8 address-info">
                    <div class="info box">
                        <ul>
                            <li>
                                <span><i class="fas fa-map"></i> Address</span>SUIIT,Burla - 768019
                            </li>
                            <li>
                                <span><i class="fas fa-envelope-open"></i> Email</span>tp@suiit.ac.in
                            </li>
                            <li>
                                <span><i class="fas fa-phone"></i> Contact</span>0663-2113254
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- End Header Top -->

    <!-- Header 
        ============================================= -->
        <header id="home">

            <!-- Start Navigation -->
            <nav class="navbar navbar-default attr-border navbar-sticky bootsnav">

                <div class="container">
                <!-- Start Header Navigation -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                            <i class="fa fa-bars"></i>
                        </button>
                     <a class="navbar-brand" href="{% url 'index' %}">
                            <img src="{% static 'assets/img/logo.png' %} " class="logo" alt="Logo">
                        </a>
                    </div>
                    <!-- End Header Navigation -->

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="navbar-menu">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="{% url 'index' %}">Home</a>
    
                            </li>
                            <li>
                                <a href="{% url 'about' %}">About</a>
    
                            </li>
                            <li>
                                <a href="{% url 'gallery' %}">Gallery</a>
    
                            </li>
                            <li>
                                <a href="{% url 'students' %}">Students</a>
    
                            </li>
                            <li>
                                <a href="{% url 'contact' %}">Contact</a>
    
                            </li>
                            {% if user.is_authenticated %}
                                {% if user.is_superuser %}
                                    <li>
                                        <a href="{% url 'admin:index' %}">Admin</a>
                                    </li>
                                
                                {% else %}
                                    <li>
                                        <a href="{% url 'profile' %}">Profile</a>
                                    </li>
                                {% endif %}
                            {% else %}
                                <li>
                                    <a href="{% url 'login' %}">login</a>
        
                                </li>
                                <li>
                                    <a href="{% url 'register' %}">Register</a>
        
                                </li>
                            {% endif %}
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div>

                <!-- Start Side Menu -->
                

            </nav>
            <!-- End Navigation -->

        </header>
        <!-- End Header -->

    <!-- Start Breadcrumb 
        ============================================= -->
        <div class="breadcrumb-area shadow dark text-center bg-fixed text-light" style="background-image: url({% static 'assets/img/banner/front.jpg' %} );">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>About Us</h1>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- End Breadcrumb -->

    <!-- Start About 
        ============================================= -->
        <div class="about-area default-padding">
            <div class="container">
                <div class="row">
                    <div class="about-info">
                       
                        <div class="col-md-12 info">
                            
                            <h2>About Us</h2>
                            <p>
                            SUIIT is functioning successfully since 2010 as an autonomous constituent institute of Sambalpur University in the line of IIITs to impart training and to have quality research programme relating to Information Technology and allied subjects. The training in the institute has been envisioned to be holistic academic programme which includes training in humanities, management sciences and basic sciences besides the relevant technical subjects.</p>

                            <p>Sambalpur University is one of the oldest Universities of the State of Odisha and catering to the higher educational need of over 10 districts and a part of Angul district of the state since 1966. With time, the University has established itself as a leading educational institute with global footprints and has been centre of attraction for students and scholars from other states as well.</p>

                            <p>Sambalpur University has been at the forefront of nurturing technical educations in the state of Odisha through R.E.C. Rourkela (presently NIT, RKL) and U.C.E, Burla (presently VSSUT, Burla) and its alumni have earned name and fame not only in India but also in abroad.</p>

                            <p>SUIIT is an unique venture to make use of the decades of rich academic experience and achievements of the University in diverse fields for nurturing the young minds in the contemporary globalized environment where the demand is for innovation, research and technical skill of international standard.
                            </p>
                           <blockquote>The Government of Odisha has provided funds to the tune of ₹ 10 crore for construction of Academic building and is nearing completion. Hostel Complex for boys and girls with an estimated cost of ₹ 11 crore is under construction. Western Odisha Development Council (WODC) has sanctioned financial support of ₹ 50 lakhs.</blockquote>
                        </div>
                    </div>
                    <div class="seperator col-md-12">
                        <span class="border"></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- End About -->

    
    <!-- Start Advisor Area
        ============================================= -->
        <section id="advisor" class="advisor-area default-padding">
            <div class="container">
                <div class="row">
                    <div class="site-heading text-center">
                        <div class="col-md-8 col-md-offset-2">
                            <h2>Training & Placement Faculties</h2>
                            
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="advisor-carousel owl-carousel owl-theme text-center text-light">

                            <!-- Single Item -->
                            <div class="advisor-item">
                                <div class="info-box">
                                   <img src="{% static 'assets/img/faculty/an.jpg' %}" alt="Thumb">  
                                    <div class="info-title">
                                        <h4>Dr. N.R Satapathy</h4>
                                        <span>Direction, SUIIT</span>
                                    </div>
                                </div>    
                            </div> 
                            <!-- Single Item -->
                            <!-- Single Item -->
                            <div class="advisor-item">
                                <div class="info-box">
                                   <img src="{% static 'assets/img/faculty/an.jpg' %} " alt="Thumb">  
                                    <div class="info-title">
                                        <h4>Mr. Atul Nag</h4>
                                        <span>Administrator</span>
                                    </div>
                                     
                                </div>    
                            </div> 
                            <!-- Single Item -->
                            <!-- Single Item -->
                            <div class="advisor-item">
                                <div class="info-box">
                                    <img src="{% static 'assets/img/faculty/an.jpg' %}" alt="Thumb">  
                                    <div class="info-title">
                                        <h4>Mr. Rasmikanta Pati</h4>
                                        <span>Training & Placement, Head</span>
                                    </div>  
                                </div>    
                            </div> 
                       
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Advisor Area -->

   

    <!-- Start Footer 
        ============================================= -->
    <footer>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <p>&copy;
                                <script>
                                    document.write(new Date().getFullYear())
                                </script> | <a href="https://suiit.ac.in" target="_blank">SUIIT Training &amp; Placement Cell</a></p>
                        </div>
                        <div class="col-md-6 text-right link">
                            <p>Designed & Developed By : Tanshit Rahman</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery Frameworks
        ============================================= -->
        <script src="{% static 'assets/js/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'assets/js/equal-height.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.appear.js' %}"></script>
        <script src="{% static 'assets/js/jquery.easing.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'assets/js/modernizr.custom.13711.js' %}"></script>
        <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'assets/js/wow.min.js' %}"></script>
        <script src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script>
        <script src="{% static 'assets/js/imagesloaded.pkgd.min.js' %}"></script>
        <script src="{% static 'assets/js/count-to.js' %}"></script>
        <script src="{% static 'assets/js/bootsnav.js' %}"></script>
        <script src="{% static 'assets/js/main.js' %}"></script>

    </body>
    </html>