{% load static %}
<html lang="en">

<head>
    <!-- ========== Meta Tags ========== -->
     <meta charset="utf-8">
    <title>SUIIT Placement | Sambalpur University Institute of Information Technology - an autonomous constituent
        institute of Sambalpur University in the line of IIIT</title>
    <meta name=msapplication-TileColor content="#002147">
    <meta name=theme-color content="#002147">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Sambalpur University Institute of Information Technology - an autonomous constituent institute of Sambalpur University in the line of IIIT">
    <meta name="Author" content="Tanshit Rahman | 17BTCSE48">

    <meta property=og:title content="SUIIT Placement">
    <meta property=og:type content="website">

    <meta property=og:description
        content="Sambalpur University Institute of Information Technology - an autonomous constituent institute of Sambalpur University in the line of IIIT">

    <meta name=mobile-web-app-capable content="yes">
  

    <!-- ========== Favicon Icon ========== -->
    <link rel="shortcut icon" href="{%static 'assets/img/favicon.ico' %}" type="image/x-icon">

    <!-- ========== Start Stylesheet ========== -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/font-awesome.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/flaticon-set.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/magnific-popup.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/owl.carousel.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/owl.theme.default.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/animate.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/bootsnav.css' %}" rel="stylesheet" />
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/responsive.css' %}" rel="stylesheet" />
    <!-- ========== End Stylesheet ========== -->

  <!-- ========== Google Fonts ========== -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800" rel="stylesheet">

</head>

<body>

    <!-- Preloader Start -->
    <div class="se-pre-con"></div>
    <!-- Preloader Ends -->

    <!-- Start Header Top 
        ============================================= -->
    <div class="top-bar-area address-two-lines bg-dark text-light">
        <div class="container">
            <div class="row">
                <div class="col-md-8 address-info">
                    <div class="info box">
                        <ul>
                            <li>
                                <span><i class="fas fa-map"></i> Address</span>SUIIT,Burla - 768019
                            </li>
                            <li>
                                <span><i class="fas fa-envelope-open"></i> Email</span>tp@suiit.ac.in
                            </li>
                            <li>
                                <span><i class="fas fa-phone"></i> Contact</span>0663-2113254
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- End Header Top -->

    <!-- Header 
        ============================================= -->
        <header id="home">

            <!-- Start Navigation -->
            <nav class="navbar navbar-default attr-border navbar-sticky bootsnav">
                <div class="container">      
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand" href="{% url 'index' %}">
                            <img src="{% static 'assets/img/logo.png' %}" class="logo" alt="Logo">
                        </a>
                    </div>
                    <!-- End Header Navigation -->

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="navbar-menu">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="{% url 'index' %}">Home</a>
    
                            </li>
                            <li>
                                <a href="{% url 'about' %}">About</a>
    
                            </li>
                            <li>
                                <a href="{% url 'gallery' %}">Gallery</a>
    
                            </li>
                            <li>
                                <a href="{% url 'students' %}">Students</a>
    
                            </li>
                            <li>
                                <a href="{% url 'contact' %}">Contact</a>
    
                            </li>
                            {% if user.is_authenticated %}
                                {% if user.is_superuser %}
                                    <li>
                                        <a href="{% url 'admin:index' %}">Admin</a>
                                    </li>
                                
                                {% else %}
                                    <li>
                                        <a href="{% url 'profile' %}">Profile</a>
                                    </li>
                                {% endif %}
                            {% else %}
                                <li>
                                    <a href="{% url 'login' %}">login</a>
        
                                </li>
                                <li>
                                    <a href="{% url 'register' %}">Register</a>
        
                                </li>
                            {% endif %}
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div>
            </nav>
            <!-- End Navigation -->
        </header>
        <!-- End Header -->

    <!-- Start Breadcrumb 
        ============================================= -->
        <div class="breadcrumb-area shadow dark text-center bg-fixed text-light" style="background-image: url({% static 'assets/img/banner/front.jpg' %});">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Contact Us</h1>
                       
                    </div>
                </div>
            </div>
        </div>
        <!-- End Breadcrumb -->

    <!-- Start Contact Info
        ============================================= -->
        <div class="contact-info-area default-padding">
            <div class="container">
                <div class="row">
                    <!-- Start Contact Info -->
                    <div class="contact-info">
                        <div class="col-md-4 col-sm-4">
                            <div class="item">
                                <div class="icon">
                                    <i class="fas fa-mobile-alt"></i>
                                </div>
                                <div class="info">
                                    <h4>Call Us</h4>
                                    <span>0663-2113254</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="item">
                                <div class="icon">
                                    <i class="fas fa-map-marker-alt"></i>
                                </div>
                                <div class="info">
                                    <h4>Address</h4>
                                    <span>Sambalpur University Institute of Information Technology,<br>
                                        Jyoti Vihar, Burla<br>
                                        Sambalpur, Odisha - 768019<br>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="item">
                                <div class="icon">
                                    <i class="fas fa-envelope"></i>
                                </div>
                                <div class="info">
                                    <h4>Email Us</h4>
                                    <span><a href="tp@suiit.ac.in"> tp@suiit.ac.in</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Contact Info -->

                    <div class="seperator col-md-12">
                        <span class="border"></span>
                    </div>

                    <!-- Start Maps & Contact Form -->
                    <div class="maps-form">
                        <div class="col-md-6 maps">
                            <h3>Our Location</h3>
                            <div class="google-maps">
                               
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3712.625484254072!2d83.88257881466876!3d21.483206877485152!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a213c368309af57%3A0xdcd4d19c95624841!2sSambalpur%20University%20Institute%20of%20Information%20Technology%20(SUIIT)%2C%20Burla!5e0!3m2!1sen!2sin!4v1595344018625!5m2!1sen!2sin"></iframe>
                            </div>
                        </div>
                        <div class="col-md-6 form">
                            <div class="heading">
                                <h3>Contact Us</h3>
                                <p>
                                   Feel Free to Contact
                                </p>
                            </div>
                            <form action="" method="POST" class="contact-form">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="form-group">
                                            <input class="form-control" id="name" name="name" placeholder="Name" type="text">
                                            <span class="alert-error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="form-group">
                                            <input class="form-control" id="email" name="email" placeholder="Email*" type="email">
                                            <span class="alert-error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="form-group">
                                            <input class="form-control" id="phone" name="phone" placeholder="Phone" type="text">
                                            <span class="alert-error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="form-group comments">
                                            <textarea class="form-control" id="company" name="company" placeholder="Company"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <button type="submit" name="submit" id="submit">
                                            Send Message <i class="fa fa-paper-plane"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- Alert Message -->
                                <div class="col-md-12 alert-notification">
                                    {% comment %} <div id="message" class="alert-msg"></div> {% endcomment %}
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- End Maps & Contact Form -->

                </div>
            </div>
        </div>
        <!-- End Contact Info -->

    <!-- Start Footer 
        ============================================= -->
    <footer>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <p>&copy;
                                <script>
                                    document.write(new Date().getFullYear())
                                </script> | <a href="https://suiit.ac.in" target="_blank">SUIIT Training &amp; Placement Cell</a></p>
                        </div>
                        <div class="col-md-6 text-right link">
                            <p>Designed & Developed By : Tanshit Rahman</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- jQuery Frameworks
        ============================================= -->
        <script src="{% static 'assets/js/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'assets/js/equal-height.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.appear.js' %}"></script>
        <script src="{% static 'assets/js/jquery.easing.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'assets/js/modernizr.custom.13711.js' %}"></script>
        <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'assets/js/wow.min.js' %}"></script>
        <script src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script>
        <script src="{% static 'assets/js/imagesloaded.pkgd.min.js' %}"></script>
        <script src="{% static 'assets/js/count-to.js' %}"></script>
        <script src="{% static 'assets/js/bootsnav.js' %}"></script>
        <script src="{% static 'assets/js/main.js' %}"></script>

    </body>
    </html>