{% load static %}
<html lang="en">

<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="utf-8">
    <title>SUIIT Placement | Sambalpur University Institute of Information Technology - an autonomous constituent
        institute of Sambalpur University in the line of IIIT</title>
    <meta name=msapplication-TileColor content="#002147">
    <meta name=theme-color content="#002147">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Sambalpur University Institute of Information Technology - an autonomous constituent institute of Sambalpur University in the line of IIIT">
    <meta name="Author" content="Tanshit Rahman | 17BTCSE48">

    <meta property=og:title content="SUIIT Placement">
    <meta property=og:type content="website">

    <meta property=og:description
        content="Sambalpur University Institute of Information Technology - an autonomous constituent institute of Sambalpur University in the line of IIIT">

    <meta name=mobile-web-app-capable content="yes">
  

    <!-- ========== Favicon Icon ========== -->
    <link rel="shortcut icon" href="{%static 'assets/img/favicon.ico' %}" type="image/x-icon">

    <!-- ========== Start Stylesheet ========== -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/font-awesome.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/flaticon-set.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/magnific-popup.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/owl.carousel.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/owl.theme.default.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/animate.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/bootsnav.css' %}" rel="stylesheet" />
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/responsive.css' %}" rel="stylesheet" />
    <!-- ========== End Stylesheet ========== -->
    <!-- ========== Google Fonts ========== -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800" rel="stylesheet">

</head>
    {% if user.is %}{% endif %}
<body>

    <!-- Preloader Start -->
    <div class="se-pre-con"></div>
    <!-- Preloader Ends -->

    <!-- Start Header Top 
        ============================================= -->
          <div class="top-bar-area address-two-lines bg-dark text-light">
        <div class="container">
            <div class="row">
                <div class="col-md-8 address-info">
                    <div class="info box">
                        <ul>
                            <li>
                                <span><i class="fas fa-map"></i> Address</span>SUIIT,Burla - 768019
                            </li>
                            <li>
                                <span><i class="fas fa-envelope-open"></i> Email</span>tp@suiit.ac.in
                            </li>
                            <li>
                                <span><i class="fas fa-phone"></i> Contact</span>0663-2113254
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Top -->

    <!-- Header 
        ============================================= -->
    <header id="home">

        <!-- Start Navigation -->
        <nav class="navbar navbar-default attr-border navbar-sticky bootsnav">
            <div class="container">
            <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="{% url 'index' %}">
                        <img src="{% static 'assets/img/logo.png' %} " class="logo" alt="Logo">
                    </a>
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{% url 'index' %}">Home</a>

                        </li>
                        <li>
                            <a href="{% url 'about' %}">About</a>

                        </li>
                        <li>
                            <a href="{% url 'gallery' %}">Gallery</a>

                        </li>
                        <li>
                                <a href="{% url 'students' %}">Students</a>
    
                            </li>
                        <li>
                            <a href="{% url 'contact' %}">Contact</a>

                        </li>
                        {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'profile' %}">Profile</a>

                        </li>
                        {% else %}
                         <li>
                            <a href="{% url 'login' %}">login</a>

                        </li>
                        <li>
                            <a href="{% url 'register' %}">Register</a>

                        </li>
                        {% endif %}

  
                       
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>

            <!-- Start Side Menu -->


        </nav>
        <!-- End Navigation -->

    </header>
    <!-- End Header -->

    <!-- Start Breadcrumb 
        ============================================= -->
    <div class="breadcrumb-area shadow dark text-center bg-fixed text-light"
        style="background-image: url({% static 'assets/img/banner/front.jpg' %});">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Student's List</h1>

                </div>
            </div>
        </div>
    </div>
    <!---end -->
    <div class="login-area default-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <form method="POST" class="white-popup-block">
                        {% csrf_token %}
                        <div class="col-md-12 login-custom">
                            <h4>Search Student</h4>

                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                                    <div class="form-group">
                                        <label class="control-label" for="first-name">Branch</label>
                                        <!-- <input type="text" name="firstname" class="form-control"> -->
                                        <select class="form-control required" name="branch">
                                            <option selected disabled>Choose Branch</option>
                                            <option value="CSE">Computer Science & Engineering</option>
                                            <option value="ECE">Electronics & Communication Engineering</option>
                                            <option value="EEE">Electrical & Electronics Engineering</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                                    <div class="form-group">
                                        <label class="control-label" for="Course">Course</label>
                                        <select class="form-control required" name="course">
                                            <option value="" selected disabled>Choose Course</option>
                                            <option value="B.Tech">B.Tech</option>
                                            <option value="M.Tech">M.Tech</option>
                                            <option value="MCA">MCA</option>
                                            <option value="MSC">M.SC</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                                    <div class="form-group">
                                        <label class="control-label" for="yearofcomp">Year of Completion</label>
                                        <select class="form-control required" name="year">
                                            <option value="2020" selected>2020</option>
                                            <option value="2021">2021</option>
                                            <option value="2022">2022</option>
                                            <option value="2023">2023</option>
                                            <option value="2024">2024</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                    <div class="form-group">
                                        <label class="control-label" for="gender">Gender</label>
                                        <select class="form-control required " name="gender">
                                            <option selected disabled>Choose Gender</option>
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                        </select>
                                    </div>
                                </div> -->

                            </div>
                        </div>



                        <div class="col-md-12">
                            <div class="row">
                                <button type="submit">
                                    Search
                                </button>
                            </div>
                        </div>

                </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    <!-- End Breadcrumb -->
    <div class="container default-padding">
        <div class="row">
            <div class="info title">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Rollno</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Branch & Course</th>
                                <th>Year of Completion</th>
                                 {% comment %} {% if user.is_superuser %}
                                <th>Phone</th>
                                {% endif %} {% endcomment %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for s in students %}
                            <tr>
                                <td>{{ s.rollno }}</td>
                                <td>{{ s.fullname }}</td>
                                <td>{{ s.email }}</td>
                                <td>{{ s.course }} &nbsp; {{ s.branch }} </td>
                                <td>{{ s.yearofcomp }}</td>
                                 {% comment %} {% if user.is_superuser %}
                                <td>{{ s.phone }}</td>
                                {% endif %} {% endcomment %}
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <!-- Start Footer 
        ============================================= -->
    <footer>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <p>&copy;
                                <script>
                                    document.write(new Date().getFullYear())
                                </script> | <a href="https://suiit.ac.in" target="_blank">SUIIT Training &amp; Placement Cell</a></p>
                        </div>
                        <div class="col-md-6 text-right link">
                            <p>Designed & Developed By : Tanshit Rahman</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery Frameworks
        ============================================= -->
    <script src="{% static 'assets/js/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/equal-height.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.appear.js' %}"></script>
    <script src="{% static 'assets/js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'assets/js/modernizr.custom.13711.js' %}"></script>
    <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/wow.min.js' %}"></script>
    <script src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/js/count-to.js' %}"></script>
    <script src="{% static 'assets/js/bootsnav.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>