{% load static %}
<html lang="en">
<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="utf-8">
    <title>SUIIT Placement | Sambalpur University Institute of Information Technology - an autonomous constituent
        institute of Sambalpur University in the line of IIIT</title>
    <meta name=msapplication-TileColor content="#002147">
    <meta name=theme-color content="#002147">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Sambalpur University Institute of Information Technology - an autonomous constituent institute of Sambalpur University in the line of IIIT">
    <meta name="Author" content="Tanshit Rahman | 17BTCSE48">

   <meta property=og:title content="SUIIT Placement">
    <meta property=og:type content="website">

    <meta property=og:description
        content="Sambalpur University Institute of Information Technology - an autonomous constituent institute of Sambalpur University in the line of IIIT">

    <meta name=mobile-web-app-capable content="yes">
  

    <!-- ========== Favicon Icon ========== -->
    <link rel="shortcut icon" href="{%static 'assets/img/favicon.ico' %}" type="image/x-icon">

    <!-- ========== Start Stylesheet ========== -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/font-awesome.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/flaticon-set.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/magnific-popup.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/owl.carousel.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/owl.theme.default.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/animate.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/bootsnav.css' %}" rel="stylesheet" />
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/responsive.css' %}" rel="stylesheet" />
    <!-- ========== End Stylesheet ========== -->

    <!-- ========== Google Fonts ========== -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,600&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800" rel="stylesheet">

    <style type="text/css">
        strong {
            color: #002147;
            font-weight: bolder;
            font-style: italic;
            font-size: 16px;
        }
    </style>
</head>

<body>

    <!-- Preloader Start -->
    <div class="se-pre-con"></div>
    <!-- Preloader Ends -->

    <!-- Start Header Top 
        ============================================= -->
    <div class="top-bar-area address-two-lines bg-dark text-light">
        <div class="container">
            <div class="row">
                <div class="col-md-8 address-info">
                    <div class="info box">
                        <ul>
                            <li>
                                <span><i class="fas fa-map"></i> Address</span>SUIIT,Burla - 768019
                            </li>
                            <li>
                                <span><i class="fas fa-envelope-open"></i> Email</span>tp@suiit.ac.in
                            </li>
                            <li>
                                <span><i class="fas fa-phone"></i> Contact</span>0663-2113254
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Top -->

    <!-- Header 
        ============================================= -->
    <header id="home">

        <!-- Start Navigation -->
        <nav class="navbar navbar-default navbar-sticky bootsnav">
            <div class="container"> 
               <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="{% url 'index' %}">
                        <img src="{% static 'assets/img/logo.png' %}" class="logo" alt="Logo">
                    </a>
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                     <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="{% url 'index' %}">Home</a>
    
                            </li>
                            <li>
                                <a href="{% url 'about' %}">About</a>
    
                            </li>
                            <li>
                                <a href="{% url 'gallery' %}">Gallery</a>
    
                            </li>
                            <li>
                                <a href="{% url 'contact' %}">Contact</a>
    
                            </li>
                           {% if user.is_authenticated %}
                            <li>
                                <a href="{% url 'profile' %}">Profile</a>
                            </li>
                            {% else %}
                                <li>
                                    <a href="{% url 'login' %}">login</a>
        
                                </li>
                                <li>
                                    <a href="{% url 'register' %}">Register</a>
        
                                </li>
                            {% endif %}
                        </ul>
                </div><!-- /.navbar-collapse -->
            </div>

        </nav>
        <!-- End Navigation -->

    </header>
    <!-- End Header -->

    <!-- Start Login Form 
        ============================================= -->
    

    

    <!-- Start Banner 
        ============================================= -->
    <div class="banner-area content-top-heading less-paragraph text-normal">
        <div id="bootcarousel" class="carousel slide animate_text carousel-fade" data-ride="carousel">

            <!-- Wrapper for slides -->
            <div class="carousel-inner text-light carousel-zoom">
                <div class="item active">
                    <div class="slider-thumb bg-fixed"
                        style="background-image: url({% static 'assets/img/banner/9.jpg' %});"></div>
                    <div class="box-table shadow dark">
                        <div class="box-cell">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="content">
                                            <!-- <h3 data-animation="animated slideInLeft">Reach you career</h3> -->
                                            <h1 data-animation="animated slideInUp">Excellence in teaching</h1>
                                            <a data-animation="animated slideInUp" class="btn btn-light border btn-md"
                                                href="register.html">Register</a>
                                            <!-- <a data-animation="animated slideInUp" class="btn btn-theme effect btn-md" href="#">View Courses</a> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="slider-thumb bg-fixed"
                        style="background-image: url({% static 'assets/img/banner/front.jpg' %});"></div>
                    <div class="box-table shadow dark">
                        <div class="box-cell">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="content">
                                            <!-- <h3 data-animation="animated slideInLeft">We're glade to see you</h3> -->
                                            <h1 data-animation="animated slideInUp">Great students community</h1>
                                            <a data-animation="animated slideInUp" class="btn btn-light border btn-md"
                                                href="register.html">Register</a>
                                            <!-- <a data-animation="animated slideInUp" class="btn btn-theme effect btn-md" href="#">View Courses</a> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="slider-thumb bg-fixed"
                        style="background-image: url({% static 'assets/img/banner/lab.jpg' %});"></div>
                    <div class="box-table shadow dark">
                        <div class="box-cell">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="content">
                                            <!-- <h3 data-animation="animated slideInLeft">The goal of education</h3> -->
                                            <h1 data-animation="animated slideInUp">Qualified teachers</h3>
                                            </h1>
                                            <a data-animation="animated slideInUp" class="btn btn-light border btn-md"
                                                href="register.html">Register</a>
                                            <!-- <a data-animation="animated slideInUp" class="btn btn-theme effect btn-md" href="#">View Courses</a> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Wrapper for slides -->

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#bootcarousel" data-slide="prev">
                <i class="fa fa-angle-left"></i>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#bootcarousel" data-slide="next">
                <i class="fa fa-angle-right"></i>
                <span class="sr-only">Next</span>
            </a>

        </div>
    </div>
    <!-- End Banner -->

    <!-- Start About 
        ============================================= -->
    <div class="about-area default-padding">
        <div class="container">
            <div class="row">
                <div class="about-info">
                    <div class="col-md-12 info">
                        
                        <h2>Placement @ SUIIT</h2>
                        <p>
                            Students are being exposed to advance mode of training through summer internship programmes
                            and industrial tours at different reputed organizations like Central University of
                            Hyderabad, Central University of Rajasthan, ISI Kolkata, IIT Bombay, IIT Bhubaneswar, NITs,
                            Institute of Mathematics & Application (BBSR), VSSUT, CTTC, DRDO (Ministry of Defence,
                            Chandipur), CDAC, HAL Ordnance factory, Smartx Connected Products Pvt. Ltd., NTPC, Dadri,
                            Bhilai Steel Plant (Bhilai, Chhattisgarh), Hirakud Hydro Electric Project (Burla), Rourkela
                            Steel Plant, Hindalco Industries Ltd., MCL (Burla), All India Radio & Doordarshan
                            (Bhubaneswar), Vedant Limited (Jharsuguda), South Eastern Railway (Ranchi), BSNL
                            (Jamshedpur), NALCO (Angul), GAIL India Limited (New Delhi), ACC Cement Limited (Bargarh),
                            Ultratech Cement Limited (Jharsuguda), OPGC (IB Thermal, Jharsuguda), OPTCL Hqrs.
                            (Bhubaneswar) etc., to make the students industry worthy. Every year industry standard
                            Pre-Placement training is imparted to students by hiring services of reputed firms. The
                            testimony of our efforts for quality teaching and training is the successful placement of
                            our students in reputed firms like: <strong>Tata Consultancy Services, Infosys, IBM India,
                                WIPRO Limited, Tech-Mahindra Limited, Cognizant Technology Solutions, HCL Technology
                                Limited, Citrix Systems, Aptus Datalabs (Bangalore), Silicone Interface (Mumbai),
                                Efftronics Systems Pvt. Ltd., MainTech</strong>
                        </p>
                        <p>
                            Qualifying GATE/CAT to pursue higher studies at Institutes like: <strong> Indian Institute
                                of Management (IIM), Xavier Institute of Management, Bhubaneswar (XIMB), Institute of
                                Management Technology (IMT), Indian Statistical Institute (ISI), Sungkyunkwan University
                                South Korea (SKKU)</strong>
                        </p>
                        <!-- <a href="#" class="btn btn-dark border btn-md">Read More</a> -->
                    </div>
                </div>
                <div class="seperator col-md-12">
                    <span class="border"></span>
                </div>
                <div class="our-features">
                    <div class="col-md-4 col-sm-4">
                        <div class="item mariner">
                            <div class="icon">
                                <i class="flaticon-faculty-shield"></i>
                            </div>
                            <div class="info">
                                <h4>Developing skills</h4>
                                <p>Encouraging the students and providing them with eminent classes that help them
                                    develop not only their technical skills but also managerial, analytical,
                                    interpersonal, communicative and creative skills. These skills make them
                                    superlative, makes them to think out the box and stand out in the crowd.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="item java">
                            <div class="icon">
                                <i class="flaticon-book-2"></i>
                            </div>
                            <div class="info">
                                <h4>Interdisciplinary Model</h4>
                                <p>Interdisciplinary learning is maximized when faculty from different disciplines work
                                    together to help students make meaningful connections between different subject
                                    areas. Making cognitive connections between different concepts is very beneficial.
                                    This helps students develop and apply critical thinking skills.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="item malachite">
                            <div class="icon">
                                <i class="flaticon-education"></i>
                            </div>
                            <div class="info">
                                <h4>Proficient Faculty</h4>
                                <p>The focus on student-centred learning over the past years has marginalized teachers
                                    in research and methodology. Our teachers are a combination of expert and didactical
                                    knowledge, practical teaching experience, skills that have been learnt and
                                    practised, insights and attitudes, above all with respect to interaction with
                                    students they are praiseworthy.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About -->

    <!-- Start Top Categories 
        ============================================= -->
    <div id="top-categories" class="top-cat-area default-padding bottom-less">
        <div class="container">
            <div class="row">
                <div class="site-heading text-center">
                    <div class="col-md-8 col-md-offset-2">
                        <h2>Our Courses</h2>
                        <p>
                            The institute has adequate faculty members who are competent in their respective fields of
                            specialization. The institute also ropes in the experienced faculty of the Sambalpur
                            University and has visitors from National Institutes like IITs/ISI/NITs/Central
                            Universities/Software Companies to expose students to accomplished scholars. Students are
                            involved in multi-institutional projects and internships funded by Govt. agencies and
                            collaborate sector.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="top-cat-items">
                    <div class="col-md-3 col-sm-6 equal-height">
                        <div class="item">
                            <a>
                                <i class="flaticon-feature"></i>
                                <div class="info">
                                    <h4>B.Tech</h4>
                                    <span>4 Year Course</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 equal-height">
                        <div class="item">
                            <a>
                                <i class="flaticon-education"></i>
                                <div class="info">
                                    <h4>M.Tech</h4>
                                    <span>2 Year Course</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 equal-height">
                        <div class="item">
                            <a>
                                <i class="flaticon-conveyor"></i>
                                <div class="info">
                                    <h4>MCA</h4>
                                    <span>3 Year Course</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 equal-height">
                        <div class="item">
                            <a>
                                <i class="flaticon-interaction"></i>
                                <div class="info">
                                    <h4>M.Sc</h4>
                                    <span>2 Year Course</span>
                                </div>
                            </a>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
    <!-- End Top Categories -->

    <!-- Start Advisor Area
        ============================================= -->
    <div class="video-area padding-xl text-center bg-fixed text-light shadow dark-hard"
        style="background-image: url({%static 'assets/img/banner/9.jpg' %});">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="video-heading">
                        <h2>Take a short tour in our campus</h2>
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="video-info">
                    <div class="overlay-video">
                        <a class="popup-youtube video-play-button" href="https://www.youtube.com/watch?v=xkOBjfS7pKE">
                            <i class="fa fa-play"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Advisor Area -->

  

    <!-- Start Event
        ============================================= -->
        {% if events %}
    <section id="event" class="event-area default-padding">
        <div class="container">
            <div class="row">
                <div class="site-heading text-center">
                    <div class="col-md-8 col-md-offset-2">
                        <h2>Upcoming Events</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="event-items">
                    {% for e in events %}
                    <div class="item vertical col-md-6">
                        <div class="info">
                            <h4>
                                {{e.name}}
                            </h4>
                            <div class="meta">
                                <ul>
                                    <li><i class="fas fa-calendar-alt"></i>{{e.date | date:"j M Y"}}</li>
                                    <li><i class="fas fa-clock"></i>{{e.time}}</li>
                                    <li><i class="fas fa-map"></i> {{e.location}}</li>
                                </ul>
                            </div>
                            <p>
                                {{e.desc}}
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    {% endif %}
    <!-- End Event -->

    <!-- Start Notice 
        ============================================= -->
        {% if news %}
    <section id="event" class="event-area default-padding">
        <div class="container">
            <div class="row">
                <div class="site-heading text-center">
                    <div class="col-md-8 col-md-offset-2">
                        <h2>Notice Board</h2>
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="event-items">
                    {% for n in news %}
                    <div class="item vertical col-md-6">
                        <div class="info">
                            <h4>
                                {{n.title}}
                            </h4>

                            <p>
                                {{n.desc}}
                            </p>
                        </div>
                    </div>
                    {% endfor %}




                </div>
            </div>
        </div>
    </section>
    {% endif %}
    <!-- End Notice  -->

   

    <!-- Start Footer 
        ============================================= -->
       <footer>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <p>&copy;
                                <script>
                                    document.write(new Date().getFullYear())
                                </script> | <a href="https://suiit.ac.in" target="_blank">SUIIT Training &amp; Placement Cell</a></p>
                        </div>
                        <div class="col-md-6 text-right link">
                            <p>Designed & Developed By : Tanshit Rahman</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- jQuery Frameworks
        ============================================= -->
    <script src="{% static 'assets/js/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/equal-height.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.appear.js' %}"></script>
    <script src="{% static 'assets/js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'assets/js/modernizr.custom.13711.js' %}"></script>
    <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/wow.min.js' %}"></script>
    <script src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/js/count-to.js' %}"></script>
    <script src="{% static 'assets/js/bootsnav.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>