{% load static %}
<html lang="en">

<head>
    <!-- ========== Meta Tags ========== -->
     <meta charset="utf-8">
    <title>SUIIT Placement | Sambalpur University Institute of Information Technology - an autonomous constituent
        institute of Sambalpur University in the line of IIIT</title>
    <meta name=msapplication-TileColor content="#002147">
    <meta name=theme-color content="#002147">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Sambalpur University Institute of Information Technology - an autonomous constituent institute of Sambalpur University in the line of IIIT">
    <meta name="Author" content="Tanshit Rahman | 17BTCSE48">

    <meta name=application-name content=strix>
    <meta name=keywords
        content="Website Designer in Rourkela, Website in Rourkela, Web Developer at Rourkela, web designer in rourkela, website company at rourkela,  website designing company at rourkela, strix, strix inc,  Strix Inc, Strix Rourkela.,Tanshit Strix , Tanshit rahman, Tahseen Rahman, Ankush, Ankit, Aniketh ">
    <meta property=og:title content="SUIIT Placement">
    <meta property=og:type content="website">

    <meta property=og:description
        content="Sambalpur University Institute of Information Technology - an autonomous constituent institute of Sambalpur University in the line of IIIT">

    <meta name=mobile-web-app-capable content="yes">
  

    <!-- ========== Favicon Icon ========== -->
    <link rel="shortcut icon" href="{%static 'assets/img/favicon.ico' %}" type="image/x-icon">

    <!-- ========== Start Stylesheet ========== -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/font-awesome.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/flaticon-set.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/magnific-popup.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/owl.carousel.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/owl.theme.default.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/animate.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/bootsnav.css' %}" rel="stylesheet" />
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/responsive.css' %}" rel="stylesheet" />
    <!-- ========== End Stylesheet ========== -->



    <!-- ========== Google Fonts ========== -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800" rel="stylesheet">

</head>

<body>

    
    <div class="se-pre-con"></div>
    

    <!-- Start Header Top 
        ============================================= -->
          <div class="top-bar-area address-two-lines bg-dark text-light">
        <div class="container">
            <div class="row">
                <div class="col-md-8 address-info">
                    <div class="info box">
                        <ul>
                            <li>
                                <span><i class="fas fa-map"></i> Address</span>SUIIT,Burla - 768019
                            </li>
                            <li>
                                <span><i class="fas fa-envelope-open"></i> Email</span>tp@suiit.ac.in
                            </li>
                            <li>
                                <span><i class="fas fa-phone"></i> Contact</span>0663-2113254
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Top -->

    <!-- Header 
        ============================================= -->
    <header id="home">

        <!-- Start Navigation -->
        <nav class="navbar navbar-default attr-border navbar-sticky bootsnav">

            <!-- Start Top Search -->
            <div class="container">
                <div class="row">
                    <div class="top-search">
                        <div class="input-group">
                            <form action="#">
                                <input type="text" name="text" class="form-control" placeholder="Search">
                                <button type="submit">
                                    <i class="fas fa-search"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Top Search -->

            <div class="container">

                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        <img src="{% static 'assets/img/logo.png' %}" class="logo" alt="Logo">
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="index.html">Home</a>

                        </li>
                        <li>
                            <a href="about.html">About</a>

                        </li>
                        <li>
                            <a href="gallery.html">Event</a>

                        </li>
                        <li>
                            <a href="profile.html">Profile</a>

                        </li>
                        <li>
                            <a href="login.html">login</a>

                        </li>
                        <li>
                            <a href="register.html">Register</a>

                        </li>
                        <li>
                            <a href="contact.html">contact</a>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>
        </nav>
    </header>
    <!-- End Header -->
    <div class="breadcrumb-area shadow dark text-center bg-fixed text-light" style="background-image: url({% static 'assets/img/banner/front.jpg' %});">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Student Registration</h1>
                 
                </div>
            </div>
        </div>
    </div>
    <!-- Start Login 
        ============================================= -->
    <div class="login-area default-padding">
        <div class="container">
            <div class="row">
                <form method="POST" enctype="multipart/form-data" class="white-popup-block">
                    {% csrf_token %}
                    <h4>Personal Details</h4>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">Upload Image</label>&nbsp;
                                <input type="file" name="image" accept=".jpg,.png,.jpeg" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label class="control-label" for="Fullname">Full Name</label>
                                <input type="text" name="fullname" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label class="control-label" for="gender">Gender</label>
                                <!-- <input type="text" name="lastname" class="form-control"> -->
                                <select class="form-control required " name="gender">
                                     <option selected disabled>Choose Gender</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label class="control-label" for="email">E-mail Address *</label>
                                <input type="text" name="email" class="form-control" placeholder="yourname@suiit.ac.in">
                            </div>
                        </div>


                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label class="control-label" for="phone">Phone No.</label>
                                <input type="text" name="phone" class="form-control" placeholder="80935527XX">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label class="control-label" for="dob">Date of Birth</label>
                                <input type="Date" name="dob" class="form-control">
                            </div>
                        </div>
                    </div>
                    <p>&nbsp;</p>
                    <h4>Current Educational Details</h4>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label class="control-label" for="rollno">SUIIT Roll no </label>
                                <input type="text" name="rollno" class="form-control"
                                    placeholder="17BTCSE48/17BTEE01/17BTECE02">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label class="control-label" for="first-name">Branch</label>
                                <!-- <input type="text" name="firstname" class="form-control"> -->
                                <select class="form-control required" name="branch">
                                    <option selected disabled>Choose Branch</option>
                                    <option value="CSE">Computer Science & Engineering</option>
                                    <option value="ECE">Electronics & Communication Engineering</option>
                                    <option value="EEE">Electrical & Electronics Engineering</option>

                                </select>
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label class="control-label" for="Course">Course</label>
                                <!-- <input type="text" name="phone" class="form-control"> -->
                                <select class="form-control required" name="course">
                                    <option value="" selected disabled>Choose Course</option>
                                    <option value="B.Tech">B.Tech</option>
                                    <option value="M.Tech">M.Tech</option>
                                    <option value="MCA">MCA</option>
                                    <option value="MSC">M.SC</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label class="control-label" for="yearofadm">Year of Admission</label>
                                <select class="form-control required" name="yearofadm">
                                    <option selected disabled>Select Year of Admission</option>
                                    <option value="2015">2015</option>
                                    <option value="2016">2016</option>
                                    <option value="2017">2017</option>
                                    <option value="2018">2018</option>
                                    <option value="2019">2019</option>
                                    <option value="2020">2020</option>

                                </select>
                            </div>
                        </div>
                    </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label" for="yearofcomp">Year of Completion</label>
                                    <!-- <input type="text" name="lastname" class="form-control"> -->
                                    <select class="form-control required" name="yearofcomp">
                                        <option selected disabled>Select Year of Completion</option>
                                        <option value="2020">2020</option>
                                        <option value="2021">2021</option>
                                        <option value="2022">2022</option>
                                        <option value="2023">2023</option>
                                        <option value="2024">2024</option>

                                    </select>
                                </div>
                            </div>

                        </div>
                        
                        <p>&nbsp;</p>

                        <h4>Previous Educational Details</h4>
                        <div class="row">

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label" for="xth">Class Xth Percentage</label>
                                    <input type="text" name="xth" class="form-control" placeholder="90.0">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label" for="xthb">Xth Board</label>
                                    <input type="text" name="xthb" class="form-control" placeholder="CBSE/ICSE/HSC">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label" for="xthp">Xth Passing Year</label>
                                    <input type="text" name="xthp" class="form-control" placeholder="20XX">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label" for="xii">XIIth Percentage</label>
                                    <input type="text" name="xii" class="form-control" placeholder="80.0">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label" for="xiib">XIIth Board</label>
                                    <input type="text" name="xiib" class="form-control" placeholder="ISC/CBSE/HSC">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label" for="xiip">XIIth Passing Year</label>
                                    <input type="text" name="xiip" class="form-control" placeholder="20XX">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="submit">
                                Register
                            </button>
                        </div>
                </form>
            </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    <!-- End Login Area -->

    <!-- Start Footer 
        ============================================= -->
       <footer>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <p>&copy;
                                <script>
                                    document.write(new Date().getFullYear())
                                </script> | <a href="https://suiit.ac.in" target="_blank">SUIIT Training &amp; Placement Cell</a></p>
                        </div>
                        <div class="col-md-6 text-right link">
                            <p>Designed & Developed By : Tanshit Rahman</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    <!-- jQuery Frameworks
        ============================================= -->
    <script src="{% static 'assets/js/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/equal-height.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.appear.js' %}"></script>
    <script src="{% static 'assets/js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'assets/js/modernizr.custom.13711.js' %}"></script>
    <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/wow.min.js' %}"></script>
    <script src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/js/count-to.js' %}"></script>
    <script src="{% static 'assets/js/bootsnav.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>


</body>

</html>